[Desktop Entry]
Type=Application
Name=Тайник — Менеджер паролей
GenericName=Менеджер паролей
Comment=Офлайн-хранение и генерация паролей
Exec=taynik %U
Icon=taynik
Terminal=false
Categories=Utility;Security;
Keywords=password;пароль;safe;сейф;
StartupNotify=true
MimeType=application/x-redpass;
